.svn
*.o
*.a
*.exe
*.opensdf
*.sdf
*.suo
*.stackdump
*~
Make.env.conf-*
src/nark/my_auto_config.hpp
/lib
build/
Debug/
Release/
g++-*/
/pkg/*
*.VC.db*
*.DS_Store
.vs
nlp/data/norm
.idea
build-cmake-debug
cmake-build-debug
build-*
src/terark/fsa/auto_gen_anti_pirate.inl
